<ion-menu contentId="main-content" >
  <ion-header>
    <ion-toolbar color="tertiary">
      <ion-title>Periodo</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content color="tertiary" class="ion-padding">
    <ion-item *ngFor="let mes of meses"
    (click)="mesSelecionado(mes)" color="tertiary">
      <ion-label>
      </ion-label>  
      <span>
        {{mes}}        
      </span>
    </ion-item>
  </ion-content>
</ion-menu>
<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>{{ mesOK }}</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content *ngIf="!show" >
    <h1>Selecione o periodo no MENU</h1>   
  </ion-content>
  <ion-content *ngIf="show">
    <app-produtos [mesSelected]="mesOK"></app-produtos>    
  </ion-content>
</div>



